.App {
  text-align: center;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.dropdown-item:click{
background-color: black;
}
.card{ 
  height: 500;
  width:300px;
}
.card-img-top{
  width:100%;
}
.btn-outline {
  color: #fff;
  border-color: #fff;
}
.btn-outline:hover {
  background-color: #fff;
  color: #000;
}
.form-control:focus {
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.addnav-font{
  font-size: 12px;
}

.addnav-font:hover{
  text-decoration: underline;
}
.App-header {
  background-color: #0055ff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
